.imagenFondo
  p(class='fbbox', style='position:absolute;top:155px;left:140px;') 
    img(src='/images/iconBtc.png', width='16px', height:'16px', style='float:left;')
    span(style='margin-left:4px;') El precio hoy: USD 
      b $#{dolares}
    span(style='margin-left:4px;') EUR 
      b €#{euros}
    span(style='margin-left:4px;') GBP  
      b £#{libras}
  p(class='fbbox', style='position:absolute;top:185px;left:140px;', id='userLine')