.imagenFondo
  p(class='fbbox', style='position:absolute;top:155px;left:140px;') 
    img(src='/images/iconBtc.png', width='16px', height:'16px', style='float:left;')
    span(style='margin-left:4px;') El precio para Hoy: USD$ 
      b #{dolares}
