!!!
html(xmlns="http://www.w3.org/1999/xhtml", xmlns:fb="http://www.facebook.com/2008/fbml")
  head
    title= title
    link(rel='stylesheet', href='/stylesheets/style.css')
    script(type='text/javascript', src='http://connect.facebook.net/en_US/all.js')
    script(type='text/javascript', src='js/fx.js')
    
    meta(property="og:title", content="Bitcoin Price of Day")
    meta(property="og:type", content="activity")
    meta(property="og:url", content="http://www.facebook.com/apps/application.php?id=124829930933291")
    meta(property="og:image", content="/images/iconMeta.png")
    meta(property="og:site_name", content="Bitcoin Price of Day")
    meta(property="fb:app_id", content="124829930933291")
  body
    #fb-root
    != body
    
    script(type='text/javascript')
      FB.init({appId: '124829930933291',
        status: true,
        cookie: true,
        xfbml: true
      });
      
      FB.getLoginStatus(function(res){
        if (res.session){
          FB.api('/me', function(user){
            if (user != null){
              var userLine = document.getElementById('userLine');
              var imagen = document.createElement('img');
              imagen.src = 'http://graph.facebook.com/'+user.id+'/picture';
              userLine.appendChild(imagen);
              var nombre = document.createElement('span');
              nombre.style['margin-left'] = '5px';
              nombre.style['font-weight'] = 'bold';
              nombre.innerHTML = user.name;
              userLine.appendChild(nombre);
            }
          });
        }
      });