body {
  font: 14px "Lucida Grande", Helvetica, Arial, sans-serif;
  background-image:url('/images/background.jpg');
}

a {
  color: #00B7FF;
}

.fbbox {
  background-color: #EDEFF4;
  padding: 5px;
  border: 1px solid #E5EAF1;
  color: #666;
}

.imagenFondo {
  background-image:url('/images/fondo.png');
  width: 372px;
  height: 250px;
}