body {
  font: 14px "Lucida Grande", Helvetica, Arial, sans-serif;
  background-image:url('/images/background.jpg');
}

.fbbox {
  background-color: #EDEFF4;
  padding: 5px;
  border: 1px solid #E5EAF1;
  color: #666;
}

a.fblink {
  color:#3B5998;
  cursor:pointer;
  text-decoration:none;
}

a.fblink:hover {
  text-decoration:underline;
}

.imagenFondo {
  background-image:url('/images/fondo.png');
  width: 372px;
  height: 250px;
}

#contenido {
  position: absolute;
  top: 200px;
  left: 150px;
}

#contenido .menu a {
  color: #454545;
  font-size: large;
}